@{
  Layout = "_Layout";
}

@using HairSalon.Models;

<h1>Stylists:</h1>

@if(@Model.Count == 0)
{
  <p>There are currently no Stylists in the system.</p>
  <button>@Html.ActionLink("Add a Stylist", "Create")</button>
}

<ul>
  @foreach(Stylist stylists in Model)
  {
    <li>@Html.ActionLink($"{stylists.Name}", "Details", new { id = stylists.Id })</li>
  }
</ul>

<button>@Html.ActionLink("Add a Stylist", "Create")</button>