@{
  Layout = "_Layout";
}

<h1>Welcome to 360 Scheduling</h1>
<h4>A web application that makes onboarding and scheduling quick and easy</h4>
<br>
<h4>Instructions:</h4>
<ol>
  <li>Add a Stylist(click the button below)</li>
  <li>Add a Client</li>
  <li>Match Client with Stylist</li>
</ol>

<button>@Html.ActionLink("See all Stylists", "Index", "Stylists")</button>
<button>@Html.ActionLink("Add a new Stylist", "Create", "Stylists")</button>
<button>@Html.ActionLink("See all clients", "Index", "Clients")</button>

